/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #e3f2fd;
    color: white;
}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #b3d4e5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #5bdae5;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #53a8e5;}
#section4 {padding-top:50px;height:500px;color: #fff; background-color: #7076e5;}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 60px;
    background-color: #fffefa;
    height: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.active {
    background-color: #47d6c5;
    color: white;
}

body {
    position: relative;
}

img {
    width:100%;max-width:1000px
}

/* Set black background color, white text and some padding */
footer {
    background-color: #e3f2fd;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}